body
{
    width: 80%;
    height: 140%;
    background-image:url(ob.png);
}.cadre1
{
    border: 2px solid #C18D00;
    padding: 10px;
    
    background-color:black;
    opacity: 100%;
    width: 90%;
    height: 70%;
    margin-top: 15%;
    margin-left: 15%;
    
}
.logodoré
{   width: 100px;
    margin-top: -70.5%;
    cursor: pointer;
    margin-left: 55%;
}