body
{
    width: 80%;
    height: 120%;
    background-image:url(M.png);
}
.navbar
{
    width: 95%;
    font-family: 'Segoe UI';
    padding: 20px 0;
    display: flex;
    margin-left: 20%;
    justify-content: space-between;
    margin-top: -2%;
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 39px;
    position: relative;
}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
  
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0%;
    background: #C18D00;
    position: absolute;
    left: 0;
    bottom: -14%;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
.logodoré
{   width: 90px;
    margin-top: -10%;
    cursor: pointer;
    margin-left: 2%;
}
