body
{
    width: 80%;
    height: 140%;
    background-image:url(ob.png);
    
}
.cadre1
{
    
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color:white;
    opacity: 50%;
    width: 90%;
    height: 80%;
    margin-top: 15%;
    margin-left: 15%;
}
.cadre2
{
    width: 69%;
    height: 9%;
    
    margin-left: 15%;
    background-color: black;
    opacity: 50%;
    color: #C18D00;
    border-radius: 8px 8px 8px 8px;
    border: none;
}
.cadre3
{
    width: 69%;
    height: 9%;
    margin-top: 10%;
    margin-left: 15%;
    background-color: black;
    opacity: 50%;
    color: #C18D00;
    border-radius: 8px 8px 8px 8px;
    border: none;
}
.cadre4
{
    width: 69%;
    height: 9%;
    margin-top: 10%;
    margin-left: 15%;
    background-color: black;
    opacity: 50%;
    color:#C18D00 ;
    border-radius: 8px 8px 8px 8px;
    border: none;
}
.logodoré
{
    width: 16%;
    
}
button
{
    background-color: #C18D00;
    border: none;
    border-radius: 8px 8px 8px 8px;
    opacity: 70%;
    color: white;
    margin-top: 9%;
    margin-left: 45%;
    cursor: pointer;
    height: 7%;
    width: 10%;
}