body
{
    height: 130%;
    width: 98.4%;
}
.backim
{
    width: 101.6%;
    height: 110%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(1.png);
    background-size: cover;
    background-position: center;
    margin-left: -0.8%;
    margin-top: -0.8%;
    margin-right: -10%;
    margin-bottom: -3%;
}
.navbar
{
    width: 85%;
    font-family: 'Segoe UI';
    padding: 20px 0;
    display: flex;
    
    justify-content: space-between;

}
.logoblanc
{
    width: 90px;
    margin-top: -1%;
    cursor: pointer;
    margin-left: 10%;
    
}
.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 39px;
    position: relative;
    

}
.navbar ul li a
{
    text-decoration: none;
    color: #fff;
  
}
.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0%;
    background: #C18D00;
    position: absolute;
    left: 0;
    bottom: -14%;
    transition: 0.5s;
}
.navbar ul li:hover::after
{
    width: 100%;
}
.fcb
{
    width: 3%;
    margin-left: 87%;
    margin-top: 10%;
}
.insta
{
    width: 2.5%;
    margin-left: -8%;
    
}
.yout
{
    
    width: 3.5%;
    margin-left: 92%;
    margin-top: -2.7%;
}
.flechenext
{
    width: 1.5%;
    opacity: 52%;
    margin-top: -18%;
    margin-left: 93%;
    
}
.flechbackwhite
{
    width: 1.5%;
    opacity: 52%;
    margin-top: -18%;
    margin-left: 10%;
}


